body {
    background-color: #1E2736;
    display: grid;
    min-height: 100vh;
    margin: 0 15px 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D7E1B3;
    font-weight: bold;
}

main {
    background-color: #16447D;
    margin-bottom: 200px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

main {
    display: grid;
    background-color: #16447D;
    color: #D7E1B3;
}

.parent {
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
}

/* nächste Haltestellen aktueller Zug */
.div1 { grid-area: 2 / 2 / 3 / 5;
    font-size: 40px;}

/* Zielbahnhof aktueller Zug */    
.div2 { grid-area: 3 / 2 / 4 / 5;
    font-size: 80px;}

/* Uhrzeit */    
.div3 { grid-area: 1 / 6 / 2 / 8; 
    font-size: 100px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: end;
}

/* Bezeichnung aktueller Zug */    
.div4 { grid-area: 2 / 6 / 3 / 8; 
    margin-right: 10px;
    margin-left: 10px;
    font-size: 80px;
    display: flex;
    justify-content: end;}

/* Zugabteile */    
.div5 { grid-area: 3 / 5 / 4 / 8; 
    font-size: 80px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-left: 10px;}

/* Blauer Zwischenbalken */    
.div6 { grid-area: 5 / 1 / 6 / 8; 
    background-color: #1E2736;
    margin-top: 15px;
    margin-bottom: 15px;}

/* Nächste Haltestellen Folgezug */    
.div7 { grid-area: 6 / 2 / 7 / 5; 
    font-size: 40px;}

/* Zielbahnhof Folgezug */
.div8 { grid-area: 7 / 2 / 8 / 5; 
    font-size: 80px;}

/* */    
.div9 { grid-area: 8 / 1 / 9 / 8;
    background-color: #D7E1B3;
    margin-top: 40px;
    margin-bottom: 40px;}

/* Senkrechtlinien */    
.div10 { grid-area: 1 / 1 / 13 / 2; 
    border-right: 0.5em solid #1E2736;
    }
.div14 { grid-area: 1 / 4 / 13 / 2; 
    border-right: 0.5em solid #1E2736;
    } 
.div15 { grid-area: 1 / 6 / 13 / 2; 
    border-right: 0.5em solid #1E2736;
    } 

/* Gleisname */    
.div11 { grid-area: 1 / 1 / 4 / 2; 
    font-size: 300px;
    justify-items: start;}

/* Folgefolgezug Eins */    
.div12 { grid-area: 9 / 2 / 10 / 5; 
    font-size: 40px;}

/* Folgefolgezug Zwei */    
.div13 { grid-area: 10 / 2 / 11 / 5; 
    font-size: 40px;}

.div17 {
    grid-area: 1 / 2 / 2 / 6;
    background-color:#D7E1B3;
}    
/* Animation der Verspätung */    
.div16 { grid-area: 1 / 2 / 2 / 6;
    animation: 4s linear 0s infinite reverse bounce;
    color: #16447D;
    font-size: 80px;
    font-weight: bolder;
    } 
    :root {
  overflow: hidden;
}
@keyframes bounce {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
