body {
    background-color: #1E2736;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 15px 0 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 150px;
    height: 20px;
    background-color: #16447D;
    margin: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

main {
    flex: 1;
    margin: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    background-color: #16447D;
}