body {
    background-color: red;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 15px 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-color: aqua;
}

header {
    width: 100%;
    height: 85px;
    background-color: green;
}

main {
    flex: 1;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

footer {
    background-color: white;
    padding: 2px;
    unicode-bidi: isolate;
}