body {
    background-color: #1E2736;
    display: grid;
    min-height: 100vh;
    margin: 0 15px 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D7E1B3;
}

header {
    padding: 150px;
    height: 20px;
    background-color: #16447D;
    margin: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

main {
    margin: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 200px;
    display: grid;
    background-color: #16447D;
    color: #D7E1B3;
}

.gleis {
    grid-area: myArea;
}

.grid-container {
    display: grid;
     grid-template-areas:
    'myArea myArea myArea'
    'myArea myArea myArea';
    grid-gap: 10px;
    padding: 20px;
    font-size: 24px;
}

.grid-container > div {
  padding: 20px 0;
}

.gleis  {
    font-size: 128px; 
    margin-left: -180px; 
    margin-top: -180px;
}

.uhrzeit {
    grid-area: myArea;
    grid-column: 2;
    grid-row: 1;
    font-size: 100px; 
    margin-right: -180px; 
    margin-top: -180px;
}